-- Base de donn├⌐es : Gestion de Cabinet Dentaire
-- SGBD : MySQL

CREATE DATABASE IF NOT EXISTS cabinet_dentaire;
USE cabinet_dentaire;

-- Table: roles
CREATE TABLE roles (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255) NOT NULL
);

-- Table: utilisateur
CREATE TABLE utilisateur (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255) NOT NULL,
    prenom VARCHAR(255) NOT NULL,
    username VARCHAR(255) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    telephone VARCHAR(50),
    email VARCHAR(255),
    role_id INT,
    FOREIGN KEY (role_id) REFERENCES roles(id)
);

-- Table: patient
CREATE TABLE patient (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255) NOT NULL,
    prenom VARCHAR(255) NOT NULL,
    dateNaissance DATE,
    adresse VARCHAR(500),
    telephone VARCHAR(50),
    email VARCHAR(255),
    numeroSecuriteSociale VARCHAR(100)
);

-- Table: cabinet
CREATE TABLE cabinet (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255) NOT NULL,
    adresse VARCHAR(500),
    telephone VARCHAR(50),
    email VARCHAR(255)
);

-- Table: salle
CREATE TABLE salle (
    id INT PRIMARY KEY AUTO_INCREMENT,
    numero VARCHAR(50),
    nom VARCHAR(255),
    cabinet_id INT,
    FOREIGN KEY (cabinet_id) REFERENCES cabinet(id)
);

-- Table: secretaire
CREATE TABLE secretaire (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255) NOT NULL,
    prenom VARCHAR(255) NOT NULL,
    telephone VARCHAR(50),
    email VARCHAR(255),
    cabinet_id INT,
    FOREIGN KEY (cabinet_id) REFERENCES cabinet(id)
);

-- Table: dentiste
CREATE TABLE dentiste (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255) NOT NULL,
    prenom VARCHAR(255) NOT NULL,
    specialite VARCHAR(255),
    telephone VARCHAR(50),
    email VARCHAR(255),
    cabinet_id INT,
    FOREIGN KEY (cabinet_id) REFERENCES cabinet(id)
);

-- Table: admin
CREATE TABLE admin (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255) NOT NULL,
    prenom VARCHAR(255) NOT NULL,
    email VARCHAR(255),
    telephone VARCHAR(50)
);

-- Table: facture
CREATE TABLE facture (
    id INT PRIMARY KEY AUTO_INCREMENT,
    numero VARCHAR(100) UNIQUE,
    date DATE,
    montantTotal DECIMAL(10,2),
    statut VARCHAR(50),
    patient_id INT,
    FOREIGN KEY (patient_id) REFERENCES patient(id)
);

-- Table: paiement
CREATE TABLE paiement (
    id INT PRIMARY KEY AUTO_INCREMENT,
    montant DECIMAL(10,2),
    datePaiement DATE,
    modePaiement VARCHAR(100),
    facture_id INT,
    FOREIGN KEY (facture_id) REFERENCES facture(id)
);

-- Table: agendaEvent
CREATE TABLE agendaEvent (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titre VARCHAR(255),
    dateDebut DATETIME,
    dateFin DATETIME,
    description TEXT
);

-- Table: consultation
CREATE TABLE consultation (
    id INT PRIMARY KEY AUTO_INCREMENT,
    date DATE,
    motif TEXT,
    diagnostic TEXT,
    traitement TEXT,
    patient_id INT,
    dentiste_id INT,
    salle_id INT,
    FOREIGN KEY (patient_id) REFERENCES patient(id),
    FOREIGN KEY (dentiste_id) REFERENCES dentiste(id),
    FOREIGN KEY (salle_id) REFERENCES salle(id)
);

-- Table: rendezvous
CREATE TABLE rendezvous (
    id INT PRIMARY KEY AUTO_INCREMENT,
    dateHeure DATETIME,
    motif TEXT,
    statut VARCHAR(50),
    patient_id INT,
    dentiste_id INT,
    FOREIGN KEY (patient_id) REFERENCES patient(id),
    FOREIGN KEY (dentiste_id) REFERENCES dentiste(id)
);

-- Table: notification
CREATE TABLE notification (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titre VARCHAR(255),
    message TEXT,
    dateEnvoi DATETIME,
    type VARCHAR(100),
    statut VARCHAR(50),
    destinataire VARCHAR(255)
);

-- Table: dossierMedical
CREATE TABLE dossierMedical (
    id INT PRIMARY KEY AUTO_INCREMENT,
    dateCreation DATE,
    antecedents TEXT,
    allergies TEXT,
    traitementEnCours TEXT,
    patient_id INT,
    FOREIGN KEY (patient_id) REFERENCES patient(id)
);

-- Table: situationFinanciere
CREATE TABLE situationFinanciere (
    id INT PRIMARY KEY AUTO_INCREMENT,
    solde DECIMAL(10,2),
    derniereModification DATETIME,
    statut VARCHAR(50),
    patient_id INT,
    FOREIGN KEY (patient_id) REFERENCES patient(id)
);

-- Table: ordonnance
CREATE TABLE ordonnance (
    id INT PRIMARY KEY AUTO_INCREMENT,
    date DATE,
    contenu TEXT,
    consultation_id INT,
    FOREIGN KEY (consultation_id) REFERENCES consultation(id)
);

-- Table: certificat
CREATE TABLE certificat (
    id INT PRIMARY KEY AUTO_INCREMENT,
    type VARCHAR(255),
    date DATE,
    contenu TEXT,
    consultation_id INT,
    FOREIGN KEY (consultation_id) REFERENCES consultation(id)
);

-- Table: prescription
CREATE TABLE prescription (
    id INT PRIMARY KEY AUTO_INCREMENT,
    medicament VARCHAR(255),
    posologie VARCHAR(255),
    duree VARCHAR(100),
    ordonnance_id INT,
    FOREIGN KEY (ordonnance_id) REFERENCES ordonnance(id)
);

-- Table: medicament
CREATE TABLE medicament (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255),
    dosage VARCHAR(100),
    forme VARCHAR(100),
    prix DECIMAL(10,2)
);

-- Table: interventionMedicale
CREATE TABLE interventionMedicale (
    id INT PRIMARY KEY AUTO_INCREMENT,
    type VARCHAR(255),
    description TEXT,
    date DATE,
    duree INT,
    cout DECIMAL(10,2),
    consultation_id INT,
    FOREIGN KEY (consultation_id) REFERENCES consultation(id)
);

-- Table: statistique
CREATE TABLE statistique (
    id INT PRIMARY KEY AUTO_INCREMENT,
    type VARCHAR(255),
    valeur DECIMAL(10,2),
    periode VARCHAR(100),
    dateCalcul DATE
);

-- Table: charge
CREATE TABLE charge (
    id INT PRIMARY KEY AUTO_INCREMENT,
    description TEXT,
    montant DECIMAL(10,2),
    date DATE,
    categorie VARCHAR(255)
);

-- Table: Materiel
CREATE TABLE Materiel (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nom VARCHAR(255),
    type VARCHAR(255),
    quantite INT,
    dateAchat DATE,
    etat VARCHAR(100)
);

-- Table: cov
CREATE TABLE cov (
    id INT PRIMARY KEY AUTO_INCREMENT,
    numero VARCHAR(100),
    date DATE,
    montant DECIMAL(10,2),
    statut VARCHAR(50)
);

-- Table: Test
CREATE TABLE Test (
    id INT PRIMARY KEY AUTO_INCREMENT
);

-- Tables de liaison (relations Many-to-Many si n├⌐cessaires)

-- Table: log
CREATE TABLE log (
    id INT PRIMARY KEY AUTO_INCREMENT,
    action VARCHAR(255),
    dateAction DATETIME,
    utilisateur_id INT,
    FOREIGN KEY (utilisateur_id) REFERENCES utilisateur(id)
);

-- Index pour optimisation des performances
CREATE INDEX idx_patient_nom ON patient(nom);
CREATE INDEX idx_patient_prenom ON patient(prenom);
CREATE INDEX idx_rendezvous_date ON rendezvous(dateHeure);
CREATE INDEX idx_consultation_date ON consultation(date);
CREATE INDEX idx_facture_patient ON facture(patient_id);
CREATE INDEX idx_utilisateur_username ON utilisateur(username);
